*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Muller';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

h1,
h2 {
  padding-left: 45px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Media'),
    url("../fonts/MullerMedium/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Blod'),
    url("../fonts/MullerBlod/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBlod/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Muller", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background: #E5E5E5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  display: block;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 30px;
  max-width: 1170px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-tel {
  display: flex;
  align-items: center;
}

.logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.personal-area {
  display: flex;
  align-items: center;
  color: #CC9933;
}

.personal-img {
  margin-right: 5px;
  margin-bottom: 2px;
}

.nav-menu {
  max-height: 70px;
  display: flex;
  align-items: center;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.nav-menu-list {
  display: flex;
  margin-right: 114px;
}

.nav-menu-list-item:not(:last-child) {
  margin-right: 45px;
}

.button {
  padding: 13px 20px;
  line-height: 1;
  border-radius: 10px;
  border: 1px solid;
  font-size: 16px;
  color: #cc9933;
  background: #fff;
}

.button-tour {
  margin-right: 40px;
}

.menu-callback {
  min-height: 42px;
  width: 177px;
  border-radius: 10px;
  border: 1px solid;
  padding: 13px 19px 13px 19px;
  color: #cc9933;
  background: #fff;
}

.vissually-hidden {
  display: none;
}

.font-style-h {
  padding-left: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
  color: #333;
}

.special__content {
  min-height: 258px;
  display: flex;
  color: white;
}

.special__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 2);
}

.special__block:not(:last-child) {
  margin-right: 24px;
}

.special__item {
  margin-bottom: 24px;
  padding: 40px 45px;
  flex: 1;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(225 225 225);
}

.special__item:last-child {
  margin-bottom: 0;
}

.item-left-img1 {
  background-image: url(../img/img1.png);
}

.item-left-img2 {
  background-image: url(../img/img3.png);
}

.special__item__h {
  max-width: 420px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
}

.special-offers-list {
  margin-bottom: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.offers-link {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  color: #F0BF5F;
}

.angle-bracket-svg {
  margin-left: 5px;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/img2.png);
}

.special__item__h__big {
  max-width: 299px;
  margin-bottom: 15px;
  align-items: flex-end;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.special-offers-list-p-big {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  opacity: 0.8;
}

.about-us-text {
  text-align: justify;
  width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0em;
  margin-bottom: 0;
  color: #000000;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.block-li-ul-1 {
  flex-direction: column;
  max-width: 573px;
  min-height: 330px;
  margin: 0 24px 24px 0;
  padding: 191px 45px 35px 45px;
  border-radius: 15px 15px;
  background-size: 573px 165px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.block-li-ul-1:nth-child(2n) {
  margin-right: 0;
}

.block-li-img1 {
  background-image: url(../img/img4.png);
  overflow: hidden;
}

.block-li-img2 {
  background-image: url(../img/img5.png);
  overflow: hidden;
}

.block-li-img3 {
  background-image: url(../img/img6.png);
  overflow: hidden;
}

.block-li-img4 {
  background-image: url(../img/img7.png);
  overflow: hidden;
}

.service-a {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  text-align: left;
  color: #CC9933;
}

.service-angle-bracket-svg {
  margin-left: 5px;
}

.service-p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.advantages-block-ul {
  display: flex;
  flex-wrap: wrap;
}

.advantages-block {
  min-height: 276px;
  width: 276px;
  margin-right: 22px;
  margin-bottom: 22px;
  padding: 116px 42px 32px;
  display: flex;
  border-radius: 15px;
  background: #FFFFFF;
  background-size: 64px 66px;
  background-repeat: no-repeat;
  background-position: 40px 45px;
}

.advantages-block:nth-child(4n) {
  margin-right: 0;
}

.advantages-block-a {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  color: #000000;
}

.icon1 {
  background-image: url(../img/icon1.jpg);
}

.icon2 {
  background-image: url(../img/icon2.jpg);
}

.icon3 {
  background-image: url(../img/icon3.jpg);
}

.icon4 {
  background-image: url(../img/icon4.jpg);
}

.icon5 {
  background-image: url(../img/icon5.jpg);
}

.icon6 {
  background-image: url(../img/icon6.jpg);
}

.icon7 {
  background-image: url(../img/icon7.jpg);
}

.icon8 {
  background-image: url(../img/icon8.jpg);
}

.container-accommodation-ul {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  margin-bottom: 32px;
}

.accommodation-price {
  display: flex;
  justify-content: space-between;
  max-width: 287px;
  min-height: 18px;
  font-style: normal;
  font-weight: 400;
}

.accommodation-h3 {
  margin-left: 0;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.accommodation-p {
  color: #999999;
}

.accommodation-b {
  display: inline-block;
  margin-right: 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.accommodation-b-span {
  color: #000000;
}

.accommodation-li-block {
  margin-right: 24px;
  margin-bottom: 24px;
  width: 374px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffff;
  overflow: hidden;
}

.accommodation-li-block:nth-child(3n) {
  margin-right: 0;
}

.addomodation-div-block {
  padding: 32px 45px 45px 45px;
}

.flex-block {
  display: inline-flex;
  justify-content: flex-end;
  background-image: url(../img/photo9group.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.accommodation-big-text-a {
  padding: 45px 42px 27px 45px;
  min-height: 440px;
  max-width: 374px;
  display: inline-flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.svg-angel-bracket {
  margin-bottom: 10px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.selector-place {
  padding: 45px 40px 20px 40px;
  margin-bottom: 0;
}

.selector-div {
  padding: 0 45px 45px 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.formdata {
  padding: 31px 0 32px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.formdata-div-city {
  display: flex;
  flex-direction: column;
}

.list1 {
  padding-left: 5px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.list1-p {
  margin-bottom: 0;
}

.select-list1 {
  border: none;
  background-image: url(../img/triangle-black-down.svg);
  background-repeat: no-repeat, repeat;
  background-position: left 97% bottom 55%, 0px 0px;
  background-size: 10px 6px;
}

.select-list {
  padding-top: 2px;
  padding-left: 2px;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 16px;
  width: 110px;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
  appearance: none;
  background-image: url(../img/triangle-double.svg);
  background-repeat: no-repeat, repeat;
  background-position: left 95px top 40%, 0px 0px;
  background-size: 15px 14px;
}

.date {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.input-date {
  margin-top: 15px;
  align-items: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

.selector-input {
  padding: 13px 30px;
}

.container-contacts {
  display: flex;
  justify-content: space-between;
  padding: 45px 52px 45px;
  border-radius: 15px;
  background: #FFFFFF;
}

.contacts-address {
  display: flex;
}

.contacts-item {
  display: inline-flex;
  justify-content: space-between;
}

.contacts-item:not(:last-child) {
  margin-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-list {
  max-width: 375px;
  margin-right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-img {
  width: 653px;
  height: 528px;
}

.contacts-title {
  padding-left: 105px;
}

.button-route {
  width: 213px;
  min-height: 70px;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.contacts-item-caption {
  width: 140px;
  margin-right: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item-div {
  width: 225px;
  display: grid;
}

.contacts-item-link-p {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #999999;
}

.contacts-item-link-p:not(:last-child) {
  margin-bottom: 0;
}

.contacts-item-link {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #CC9933;
}

.contacts-item-link:last-child {
  margin-bottom: 23px;
}

.contacts-item-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.contacts-item-text-p {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contacts-item-text-b {
  padding: 27px 28px;
  font-style: normal;
  font-weight: 400;
}

.contacts-img-style {
  width: 653px;
  height: 528px;
  border-radius: 10px;
}

.footer-conteiner {
  min-width: 1170px;
  padding: 45px 45px;
  display: flex;
  background: #333333;
  border-radius: 15px;
}

.foorer-left-1 {
  margin-right: 125px;
  display: inline-flex;
  flex-direction: column;
  min-width: 302px;
  min-height: auto;
}

.footer-item {
  width: 302px;
}

.footer-item:not(:last-child) {
  margin-bottom: 40px;
}

.footer-item-p,
.footer-center {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-center-container {
  margin-right: 269px;
}

.footer-center-style {
  margin-bottom: 15px;
  display: inline-block;
}

.footer-link,
.footer-item-link {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #CC9933;
}

.footer-conteiner {
  background-image: url(../img/foooter-logo.svg);
  background-repeat: no-repeat;
  background-size: 254px 254px;
  background-position: bottom right 176px;
}

.social {
  min-width: 25px;
  min-height: auto;
}

.footer-left {
  min-width: 427px;
}

.footer-center {
  min-width: 359px;
  display: flex;
  flex-direction: column;
}

.footer-img-link {
  height: 25px;
  width: 25px;
}

.social-item {
  margin-bottom: 20px;
}

.button:hover,
.menu-callback:hover {
  background: #CC9933;
  color: #fff;
}

.personal-area:hover,
.personal-img:hover,
.footer-item-link:hover,
.contacts-item-link:hover {
  color: #F0BF5F;
}

.header-tel:hover,
.menu:hover {
  color: #CC9933;
}

.button:active,
.menu-callback:active .personal-area {
  background: #A47312;
}

.personal-area:active,
.header-tel:active,
.menu:active,
.footer-item-link:active,
.contacts-item-link:active {
  inline-size: fit-content;
  outline: 1px solid #CC9933;
}
